button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: skyblue;
  color: black;
}

#mainbutton {
  position: absolute;
  left: 0;
  width: 30%;
  text-align: center;
}

#clickbutton {
  top: 50%;
  height: 50%;
  font-size: 40px;
}

#otheritems {
  display: inline;
  position: absolute;
  right: 0;
  width: 70%;
}

#topbar {
  border: 1px solid black;
  padding-bottom: 20px;
}

#items {
  position: absolute;
  left: 0;
  width: 70%;
}

#buildings {
  display: block;
}

#hoverinfo {
  position: absolute;
  right: 0;
  width: 30%;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#upgrades {
  display: none;
}

#stats {
  display: none;
}
